<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>
    <h1>About This App</h1>
    <p>This is a scalable app powered by Flask, Docker, and Nginx!</p>
    <a href="/">Go back to the homepage</a>
    <img
      src="https://f.hubspotusercontent40.net/hubfs/5621549/02%20(49)-png-1.png"
      alt=""
    />
  </body>
</html>
